<header id="header" class="header fixed-top">


  <div class="branding d-flex align-items-center">
    <div class="container position-relative d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <h1 class="sitename ">Vivah</h1>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu" [class.open]="isNavMenuOpen">
        <ul>
          <li style="cursor: pointer;"><a class="active" (click)="goToHome()">Home</a></li>
           <li style="cursor: pointer;">
    <a (click)="goToCandidate()">Candidate</a>
  </li>
          <li style="cursor: pointer;"><a (click)="goToProfile()">My Profile</a></li>
          <li style="cursor: pointer;"><a (click)="goToLogin()">Login</a></li>
          <li class="profile-image">
            <a routerLink="/profile">
              <img src="assets/img/av1.jpg" alt="Profile" class="rounded-circle"
                style="width: 28px; height: 28px; object-fit: cover; border: 2px solid #ffc107; transition: transform 0.3s;" />
            </a>
          </li>

 <li style="cursor: pointer;">
  <a (click)="logout()">
    <i class="bi bi-power" style="font-size: 22px;"></i>
  </a>
</li>


        </ul>
      </nav>

      <!-- Toggle Button for Sidebar -->
      <i class="mobile-nav-toggle d-xl-none bi" [class.bi-list]="!isNavMenuOpen" [class.bi-x]="isNavMenuOpen"
        (click)="toggleNavMenu()"></i>
    </div>
  </div>
</header>

<!-- Sidebar for Mobile Navigation -->
<div id="sidebar" class="sidebar" [class.open]="isNavMenuOpen">
  <nav class="sidebar-nav">
    <ul>
      <li class="profile-image">
        <a href="#profile">
          <img src="assets/img/logo.png" alt="Profile" class="rounded-circle"
            style="width: 40px; height: 40px; object-fit: cover; border: 2px solid #ffc107; transition: transform 0.3s;" />
          My Profile</a>
      </li>
      <li><a class="active" (click)="goToHome()">Home</a></li>
      <li><a href="#login">Login</a></li>

    </ul>
  </nav>
</div>
<div (click)="closeNavMenu()" class="overlay" *ngIf="isNavMenuOpen"></div>