
  /* Decrease height on smaller screens */
  @media (max-width: 768px) {
    #hero {
      height: 90vh; /* 70% of the viewport height */
    }
  }
  
  @media (max-width: 576px) {
    #hero {
      height: 75vh; /* 50% of the viewport height */
    }
  }
  
  .carousel-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
  }
  
  .carousel-container h2 {
    font-size: 2.5rem;
  }
  
  .carousel-container p {
    font-size: 1.25rem;
  }
  

  .ad-img {
  width: 100%;
  height: 250px;       /* Adjust height as you want (200–300px looks best) */
  object-fit: cover;   /* Keeps proper crop, prevents stretching */
  border-radius: 10px;
}
