.login-page {
  height: 100vh;
  width: 100%;
  display: flex;                 /* enable flex */
  justify-content: center;       /* horizontally center */
  align-items: center;           /* vertically center */
  position: relative;

  background: url('/assets/img/img-3.jpg') center/cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.login-card {
  width: 400px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  z-index: 10;
  position: relative;
}
