<div class="login-page">
  <div class="overlay"></div>
  <div class="login-card">
    <h3 class="text-center mb-4">Create Account</h3>

   <form [formGroup]="signupForm">
  <div class="mb-3">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="userName" placeholder="Enter your full name">
  </div>

  <div class="mb-3">
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
  </div>

  <div class="mb-3">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Enter your password">
  </div>

  <button class="btn btn-primary w-100" type="button" (click)="submit()">Save</button>
</form>

      <p class="text-center mt-3">
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </div>

  </div>
